
body{
    overflow: hidden;
}
/*  HEADER, TOP PART OF PAGE */
header{
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content:space-between;
    align-items:center;
    border-bottom-left-radius: 1rem;
    position: absolute;
    top: -8vh;
    left: 0;
    background-color: white;
    transition: all 0.2s ease-in-out;
    z-index: 20;
    overflow: hidden;
}
.show-header{
    top: 0;
}
/*  BURGER */
/*  BURGER GROUP  */
/*  NAVIGATION LINKS */
.navlinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.1s ease 0.1s;
    z-index: 10;
}
.showNav{/*  show/hide navigation links */
    opacity: 1;
}
/*  HEADER, TOP PART OF PAGE */
/*  DRAGGABLE ELEMENT */

#container {
    width: 100vw;
    height:100vh;
    background: url('/resources/Img/Map\ Croatia\ google.png');
    background-size: cover;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
  }
  #item {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    touch-action: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .dragline{
      height: 0.2rem;
      width: 5rem;
      margin-top: 1rem;
      background-color: rgb(80, 80, 80);
      border-radius: 0.2rem;
  }
  .result{
      width: 95%;
      margin: 3rem auto;
  }
  .result-img-carousel{
      height:20vh;
      width: 100%;
      border-radius: 1rem;
      border: 1px solid black; /* to be remnoved */
  }
  .result-info li{
      margin: 0.5rem;
  }
  .result-info img{
      height: 1rem;
      margin-right: 1rem;
  }
/*
.container{
    width: 100vw;
    height:100vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    touch-action: none;
}
.draggable-element{
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dragpoint{
    height: 3rem;
}
.dragline{
    height: 0.2rem;
    width: 5rem;
    margin-top: 1rem;
    background-color: rgb(80, 80, 80);
}
.result{
    width: 95%;
    margin-bottom: 2rem;

}
.result-img-carousel{
    height:20vh;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid black;
}
*/
/*  DRAGGABLE ELEMENT */
/*  MOBILE NAVIGATION DOCK  */
.navDock{
    height: 8vh;
}
/*  MOBILE NAVIGATION DOCK  */
/*  BOOKING FORM AND BUTTON */
.mainImg{
    background-color: rgb(255, 255, 255);
    background-image: url("../Img/girl-on-beach.JPG");
    background-size: cover;
    height: 100vh;
}
/*  SEARCH BUTTON */
.searchBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 3rem;
    border: 1px solid black;
    border-radius:2rem;
    margin: 0 auto;
    position: absolute;
    top: 10vh;
    left:50%;
    transform:translateX(-50%);
    background-color: white;
    transition: all 0.1s ease;
    overflow: hidden;
}
.expand-search{
    height: 100vh;
    width: 100vw;
    top:0;
    border: none;
    border-radius: 0;
}
.searchBtn img{
    margin-right: 1rem;
}
/*  SEARCH BUTTON */

/*  BOOKING FORM  */
.bookingForm{
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    position:absolute;
    left: 0;
    top: 0;
    z-index: 11;
    opacity: 0;
}
.showBookingForm{
    opacity: 1;
}
.bookingForm h2{
    margin-bottom: 1rem;
    color:rgb(80, 80, 80);
}
.bookingInfo{
    width: 80%;
    height: 3rem;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 2rem;
    padding: 0.4rem 1.5rem;
    margin: 1rem;
    font-size: 0.8rem;
}
.dates{
    display: flex;
    justify-content: space-between;
}
.checkIn{
    width: 50%;
    border-right: 1px solid gray;
    padding-right: 0.5rem;
}
.checkOut{
    width: 50%;
    margin-left: 0.5rem;
}
.search{
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
}
input {
    width: 100%;
    height: 60%;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
label{
    color:rgb(80, 80, 80);
}
::placeholder{
    color:rgba(0, 0, 0, 0.3);
}
[type="date"]::-webkit-calendar-picker-indicator {
    width: 1rem;
    margin: 0;
    padding: 0;
  }
/*  BOOKING FORM  */
/*  BOOKING FORM AND BUTTON */


/* ---------- MEDIA QUERIES ----------- */
@media only screen and (min-width: 1050px){
/*  HEADER  */
.mainLogo img{
    height: 5vh;
}
.open-header{
    height: 16vh;
}
.desktop-dock{
    display: flex;
    opacity: 0.7;
    margin: 0 0.5rem;
}
.desktop-dock li{
    margin: 0 0.5rem;
}
.desktop-dock img{
    height: 1.5rem;
}
.lang-select:hover{
    cursor: pointer;
}
/*  BURGER GROUP  */

/*  LANGUAGE  */
.languages{
    height: 8vh;
}
.display-languages{
    display: flex;
}
.languages ul{
    flex-direction: row;
}
.languages li{
    padding: 1rem;
}
/*  LANGUAGE  */
/*  BURGER */
.burger div{
    width: 1.3rem;
    height: 3px;
    margin: 3px 0;
    border-radius: 1px;
}
.toggle .line1{    
    transform: rotate(-45deg) translate(-3px,6px);
}
.toggle .line2{    
    opacity: 0;
}
.toggle .line3{    
    transform: rotate(45deg) translate(-3px,-6px);
}
/*  BURGER */
/*  BURGER GROUP  */
.navlinks{
    flex-direction: row;
    width: 100%;
    height: 8vh;
    top:8vh;
    right: auto;
}
.navlinks ul{
    display: flex;
    flex-direction: row;
    height: 8vh;
}
.navlinks li{
    font-size: 1rem;
}
/*  HEADER  */
/*  DOCK */
.navDock{
    display: none;
}
/*  DOCK */
.section{
    margin: 10vh auto;
}
/*  PROFILE PAGE */
    /* top part */
.profile-page{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.open-header-profile{
    height: 100vh;
}
.user{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.profile-picture{
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
    border: 1px solid black;
    overflow: hidden;
    margin-right: 1rem;
}
.profile-picture img{
    height: 5rem;
    width: 5rem;
}

.username{
    font-size: 1.2rem;
}
.memberlevel{
    font-size: 0.8rem;
    margin: 0.5rem 0;
}
.edit-btn{
    border: 1px solid black;
    border-radius: 1rem;
    font-size: 0.8rem;
    height: 1.5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
    /* top part */
    /* middle part */
.btn{
    width: 20rem;
    height: 3rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.points{
    margin-left: 1rem;
}
    /* middle part */
    /* bottom part */
.bottom-profile{
    display: flex;
    justify-content: center;
}
.bottom-profile ul{
    display: flex;
    justify-content: center;
}
.bottom-profile li{
    margin: 0 1rem;
}
    /* bottom part */
/*  PROFILE PAGE */
.slogan.desktop{
    display: block;
}
/*  SEARCH BUTTON */
.searchBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 3rem;
    border: none;
    border-radius:2rem;
    margin: 0 auto;
    position: absolute;
    top: 60vh;
    left:0;
    transform:translateX(0);
    background-color: rgba(255, 255, 255, 0);
    color:rgba(255, 255, 255, 0);
    overflow:visible;
}
.expand-search{
    height: 3rem;
    width: 100vw;
    top:60vh;
    border: none;
    border-radius: 0;
}
.searchBtn img{
    display: none;
}
/*  SEARCH BUTTON */
/*  BOOKING FORM  */
.bookingForm{
    height: 4rem;
    width: 80vw;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    position:absolute;
    left: auto;
    top: auto;
    z-index: 11;
    opacity: 1;
    overflow: hidden;
    padding: 0 1rem;
}
.bookingInfo{
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 0;
    padding: 0 0.5rem;
    margin: 0;
    font-size: 0.8rem;
    color: black;
    background-color: white;
}
.bookingForm h2{
    display: none;
}
.location{
    border-right: 1px solid gray;
    width: 25%;
}
.dates{
    display: flex;
    justify-content: space-between;
    border-right: 1px solid gray;
    width: 50%;
}
.checkIn{
    
    border-right: 1px solid gray;
}
.checkOut{
    
}
.guests{
    border-right: 1px solid gray;
    width: 15%;
}
.type{
    border-right: 1px solid gray;
    width: 20%;
}
.search{
    background-color: rgb(255, 255, 255);
    text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
    color: white;
    width: 2rem;
    border-radius: 2rem;
    content: url("../SVG/search_black_24dp.svg");
    padding-right: 0;
}
input{
    font-size: 0.8rem;
}
/*  BOOKING FORM  */
/*  SPECIAL OFFERS  */
.section-heading{
    margin-bottom: 3rem;
}
/*  SPECIAL OFFERS  */
/*  BOOK WITH US  */
.bookwithus{
    width: 70vw;
}
.reason{
    display: inline-flex;
    flex-direction: column;
    width: auto;
    justify-content:space-between;
    align-items:center;
}
.reason img{
    height: 5rem;
    margin-bottom: 1rem;
}
.reason p{
    font-size: 1rem;
    text-align:center;                        
}
/*  EXPLORE CROATIA  */
.place{
    width: 20rem;
    height: 10rem;
}
/*  EXPLORE CROATIA  */
/*  RONA CLUB  */
.ronaclub{
    display: flex;
    height: 20rem;
}
.ronaclub .top{
    width: 25%;
    height: 100%;
    border-bottom: none;
    border-right: 1px solid gray;
}
/*  RONA CLUB  */
/*  RELAX ANYWHERE  */
/*  RELAX ANYWHERE  */
/*  SUMMARY  */
.summary{
    display: flex;
    justify-content: space-evenly;
}
.summary-section{
    width: 15%;
    height: auto;
    margin: 2rem 1rem;
}
.summary-section h2{
    text-align: left;
    margin: 0;
}
#benefits{
    width: 35%;
    margin-left: 0;
    margin-right: 0;
}
#benefits h2{
    text-align: center;
}
/*  SUMMARY  */
/*  FOOTER  */
.social img:hover{
    filter: grayscale(0);
}
/*  FOOTER  */

}
/* ---------- MEDIA QUERIES ----------- */