*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
.search-widget{
    height: 3rem;
    width: 20rem;
    border: 2px solid gold;
    border-radius: 0.3rem;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0.2rem 0.5rem;
}
#option-input{
    height: 100%;
    width: 100%;
    padding-left: 2rem;
    line-height: 3rem;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
}
#option-input:hover{
    background-color: rgb(240, 240, 240);
}
#option-input img{
    margin-right: 0.5rem;
}
.bar{
    display: flex;
    align-items: center;
}
.clear{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    display: none;
    cursor: pointer;
    background-image: url('./SVG/close.svg');
    background-repeat: no-repeat;
    background-position: center;
}
#option-list{
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: rgba(0,0,0,0.1) 0 0.2rem 1rem 0.1rem;
    display: none;
    opacity: 0;
    padding: 0.2rem;
    transition: all 0.2s ease;
    max-height: 15rem;
    overflow: scroll;
}
#option-list li{
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
}
#option-list li:hover{
    background-color: rgb(240, 240, 240);
}
.type-img{
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.5rem;
}
.title{
    font-size: 0.8rem;
    font-weight: bold;
}
.subtitle{
    font-size: 0.8rem;
}


/* animation */
.show-block{
    display: block !important;
}
.show-transition{
    transition: all 0.05s ease;
    opacity: 1 !important;
}
