*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html{

}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}
/*  HEADER, TOP PART OF PAGE */
header{
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content:space-between;
    align-items:center;
    border-bottom-left-radius: 1rem;
    
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    transition: all 0.3s ease-in-out;
    z-index: 20;
    overflow: hidden;
}
.open-header{
    height: 100vh;
}

.mainLogo img{
    height:4vh;
    margin-left: 1rem;
    position: absolute;
    top: 1.5vh;
}

/*  BURGER */

.burger{
    position: absolute;
    top: 3vh;
    right: 3vh;
    z-index: 20;
}

.burger div{
    width: 1.2rem;
    height: 2px;
    margin: 3px 0;
    background-color: rgb(100,100,100); /* COLORS */
    transition: all 0.3s ease;
    
}
.toggle .line1{    
    transform: rotate(-45deg) translate(-1px,6px);
}
.toggle .line2{    
    opacity: 0;
}
.toggle .line3{    
    transform: rotate(45deg) translate(-1px,-6px);
}
/*  BURGER */
/*  NAVIGATION LINKS */
.navlinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.2s ease;
    z-index: 10;
}

.navlinks li{
    font-size:1.5rem;
    padding: 1rem;
}
/*  NAVIGATION LINKS */
 /*  show/hide navigation links */
.showNav{
    opacity: 1;
}
 /*  show/hide navigation links */
/*  HEADER, TOP PART OF PAGE */
/*  DOCK */
.navDock{
    width: 100%;
    transition: all 0.3s ease;
    position: absolute;
    bottom: -8vh;
    z-index: 20;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
    background-color: white;
    height: 0;
}
.show-navDock{
    height:8vh;
    bottom: 0;
}

.navDock ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 8vh;
    background-color: rgba(255, 255, 255, 0);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
}

.navDock li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 70%;
}

.navDock p{
    font-size: 0.6rem;
}
/*  DOCK */
/*  BOOKING FORM AND BUTTON */
.mainImg{
    background-color: rgb(255, 255, 255);
    background-image: url("./resources NEW/Img/77ec45c7-f8e0-4f1c-a489-c0bafe674096.JPG");
    background-size: cover;
    height: 100vh;
}
/*  SEARCH BUTTON */
.searchBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 2rem;
    border: 1px solid black;
    border-radius:1rem;
    margin: 0 auto;
    position: relative;
    top: 70vh;
    background-color: white;
}
/*  SEARCH BUTTON */


/*  BOOKING FORM  */
.bookingForm{
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s ease;
    position:absolute;
    right: 100%;
    top: 0;
    z-index: 11;
}
.showBookingForm{
    transform: translateX(-100%);
}

.bookingInfo{
    width: 90%;
    height: 3rem;
    border: 1px solid gray;
    border-radius: 3rem;
    padding: 0.8rem;
    font-size: 0.8rem;
}
.dates{
    display: flex;
    justify-content: space-between;
}
.checkIn{
    width: 50%;
    border-right: 1px solid gray;
}
.checkOut{
    width: 45%;
}
.menu-logo{
    width: 90%;
}
/*  BOOKING FORM  */
/*  BOOKING FORM AND BUTTON */
/*  SPECIAL OFFERS  */
.special-carousel{
    display: flex;
    overflow: scroll;
}
.special-carousel::-webkit-scrollbar {
    display: none;
  }
.special-item{
    margin: 0 1rem;
}
.special img{
    border: 1px solid black;
    border-radius: 1rem;
    height: 10rem;
    width: 20rem;
}
/*  SPECIAL OFFERS  */
.section-heading{
    text-align: center;
    margin: 1rem;
}
/*  BOOK WITH US  */
.bookwithus{
    margin: 5rem auto;
}
.reasons{
    display: flex;
    justify-content:space-evenly;
}
.reason{
    display: inline-flex;
    flex-direction: column;
    width: 5rem;
    justify-content:space-between;
    align-items:center;
}
.reason img{
    height: 3rem;
    margin-bottom: 1rem;
}
.reason p{
    font-size: 0.7rem;
    text-align:center;                        
}
/*  BOOK WITH US  */
/*  EXPLORE CROATIA  */
.explore-croatia{
    margin: 5rem auto;
}
.places{
    display: flex;
    justify-content:space-evenly;
}
.place-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.place{
    height: 5rem;
    width: 5rem;
    border: 1px solid gray;
    border-radius:1rem;
    margin: 1rem auto;
}
/*  EXPLORE CROATIA  */
/*  RONA CLUB  */
.ronaclub{
    height:30rem;
    width: 90vw;
    border: 1px solid gray;
    border-radius: 1rem;
    margin: 0 auto;
}
.ronaclub .top{
    border-bottom: 1px solid gray;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1rem;
}

.learnmore{
    width: 10rem;
    height: 3rem;
    margin: 0 auto;
    border-radius: 2rem;
    background-color: crimson;
    color: white;
    border: 1px solid black;
    font-size: 1.2rem;
}
/*  RONA CLUB  */
/*  RELAX ANYWHERE  */
.relax-anywhere{
    margin: 3rem auto;
}
.specific-carousel{
    display: flex;
    overflow-x: scroll;
    margin: 2rem 0;
}
.specific-carousel::-webkit-scrollbar {
    display: none;
}
.specific{
    width: 100%;
}
.specific{
    margin: 0 1rem;
}
.specific img{
    width: 15rem;
    height: 15rem;
    border: 1px solid gray;
    border-radius: 1rem;
}
/*  RELAX ANYWHERE  */
/*  PARTNERS  */
.partners{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
}
.partner-logos{
    text-align: center;
}
.partner-logos img{
    margin: 1rem;
}
.partners button{
    width: 10rem;
    height: 3rem;
    border-radius: 2rem;
    margin: 0 auto;
    background-color: crimson;
    color: white;
    border: 1px solid black;
    font-size: 1.2rem;
}
/*  PARTNERS  */
/*  EXPERIENCES  */
.experiences{
    text-align: center;
    margin: 4rem auto;
}
.experience-carousel{
    display: flex;
    overflow-x: scroll;
}
.experience-carousel::-webkit-scrollbar {
    display: none;
}
.experience{
    margin: 1rem;
}
.experience img{
    height: 15rem;
    width: 15rem;
    border: 1px solid gray;
    border-radius: 1rem;
}
.experience p{
    text-align: left;
}
/*  EXPERIENCES  */
/*  RONA CLUB BENEFITS  */
.summary{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
    color: rgb(80, 80, 80);
}
.summary-section{
    margin: 4rem auto;
}
.summary-section p{
    margin: 2rem 1rem;
}
.summary-section ul{
    width: 15rem;
    margin: 0 auto;
}
.summary-section li{
    margin: 2rem auto;
    text-align: left;
}
/*  RONA CLUB BENEFITS  */
/*  FOOTER  */
footer{
    text-align: center;
    margin: 1rem auto;
}
/*  FOOTER  */

/* ---------- MEDIA QUERIES ----------- */
@media only screen and (min-width: 1050px){
/*
.burger{
    display: none;
}
.navlinks{
    flex-direction: row;
    height: 7vh;
    max-width: 70%;
    right: 0;
}
.navlinks .logo{
    display: none;
}
.navlinks ul{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    width: 100%;
    margin: 0 1rem;
}
.navlinks li{
   
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0;
}
*/
.navlinks{
    width: 20rem;
    height: 40rem;
    border: 1px solid gray;
    border-radius: 1rem;
}
/* BOOKING FORM */
.bookingForm{
    height: auto;
    width: 100vw;
    max-width:1024px;
    margin: 0 auto;
    padding: 0;
    flex-direction: row;
    right: 50%;
    top: 70vh;
    transform: translateX(50%);
}
.closeBtn{
    display: none;
}
.bookingInfo{
    margin: 0 0.5rem;
    width: 20%;
}
.menu-logo{
    display: none;
}
.navDock{
    display: none;
}
.search{
    width: 3rem;
    border-radius: 2rem;
}
/* BOOKING FORM */
/*  EXPLORE CROATIA  */
.place{
    width: 20rem;
    height: 10rem;
}
.searchBtn{
    display: none;
}
/*  EXPLORE CROATIA  */
/*  RONA CLUB  */
.ronaclub{
    display: flex;
    height: 20rem;
}
.ronaclub .top{
    width: 25%;
    height: 100%;
    border-bottom: none;
    border-right: 1px solid gray;
}
/*  RONA CLUB  */
/*  SUMMARY  */
.summary{
    display: flex;
    justify-content: space-evenly;
}
.summary-section{
    width: 15%;
    height: auto;
    margin: 2rem 1rem;
}
.summary-section h2{
    text-align: left;
    margin: 0;
}
#benefits{
    width: 35%;
    margin-left: 0;
    margin-right: 0;
}
#benefits h2{
    text-align: center;
}
/*  SUMMARY  */
}
/* ---------- MEDIA QUERIES ----------- */